<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List users</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="components::menu"></div>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h4 class="display-5 fw-bold">Users list</h4>
        <div class="container-fluid" th:switch="${users.size() > 0}">
            <h3 th:case="false">No users available!</h3>
            <table th:case="true" class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.authority.name}"></td>
                    <td>
                        <a th:if="${user.active == true}" th:href="@{/user/update/{id}(id=${user.id})}"
                           class="btn btn-primary">Update</a>
                        <a th:if="${user.active == true}" th:href="@{/user/delete/{id}(id=${user.id})}"
                           class="btn btn-danger">Delete</a>
                        <a th:if="${user.active == false}" th:href="@{/user/restore/{id}(id=${user.id})}"
                           class="btn btn-warning">Restore</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:insert="components::scripts"></div>
<script type="text/javascript">
    $(document).ready(function (){
        document.getElementById("userMenu").classList.add("active");
    });
</script>
</body>
</html>