<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update teacher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Study Info</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/teacher/">Teacher</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/student/">Student</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h4 class="display-5 fw-bold">Update Teacher</h4>
            <div th:if="${messageType} == 'error'" class="alert alert-danger" role="alert">
                <span th:text="${message}"></span>
            </div>
            <form action="#" th:action="@{/teacher/update/{id}(id=${teacher.id})}" th:object="${teacher}" method="post">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="number" th:field="*{age}" id="age" class="form-control" min="15" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <select class="form-select" th:field="*{city.id}" id="city" required>
                        <option th:each="city: ${cities}" th:value="${city.id}" th:text="${city.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="school">School</label>
                    <select class="form-select" th:field="*{school}" id="school" required>
                        <option th:each="school: ${schools}" th:value="${school}" th:text="${school}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="specialization">Specialization</label>
                    <select class="form-select" th:field="*{specialization}" id="specialization" required>
                        <option th:each="specialization: ${specializations}" th:value="${specialization}" th:text="${specialization}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold" for="joinDate">Join date</label>
                    <input type="date" class="form-control" id="joinDate" th:field="*{joinDate}">
                </div>
                <div class="form-group">
                    <input type="hidden" class="form-control" id="active" th:field="*{active}">
                </div>
                <br/><br/>
                <button type="submit" class="btn btn-success">Update</button>
                <a href="/teacher/" class="btn btn-primary">Cancel</a>
            </form>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>