<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="components::menu"></div>
<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Hello, Welcome to Study Information System</h1>
        <p class="col-md-8 fs-4">The place where the records of student and teachers are integrated.</p>
        <div sec:authorize="!isAuthenticated()">
            <a class="btn btn-primary" th:href="@{/login}" role="button">Login</a>
            <a class="btn btn-warning" th:href="@{/signup}" role="button">Signup</a>
        </div>
    </div>
</div>
<div th:insert="components::scripts"></div>
<script type="text/javascript">
    $(document).ready(function (){
        document.getElementById("homeMenu").classList.add("active");
    });
</script>
</body>
</html>